/* ==========================================================================
   MASTHEAD
   ========================================================================== */

   .masthead {
    position: relative;
    border-bottom: 1px solid $border-color;
    -webkit-animation: intro 0.3s both;
            animation: intro 0.3s both;
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
    z-index: 20;
  
    &__inner-wrap {
      @include container;
      @include clearfix;
      padding: 1em;
      font-family: $sans-serif-narrow;
      direction: rtl; /* Add this for RTL support */
      text-align: right; /* Add this for RTL support */
  
      @include breakpoint($x-large) {
        max-width: $x-large;
      }
  
      nav {
        z-index: 10;
      }
  
      a {
        text-decoration: none;
      }
    }
  }
  
  .masthead__menu {
    ul {
      margin: 0;
      padding: 0;
      clear: both;
      list-style-type: none;
      direction: rtl; /* Add this for RTL support */
    }
  }
  
  .masthead__menu-item {
    display: block;
    list-style-type: none;
    white-space: nowrap;
  
    &--lg {
      padding-left: 2em; /* Change to padding-left for RTL */
      font-weight: 700;
    }
  }
  